PyQt5
coloredlogs
numpy
opencv-python
Pillow
requests
setuptools
certifi
urllib3
pip
chardet
idna
pyreadline
humanfriendly
coloredlogs
numpy
opencv-python
Pillow
requests
ruamel.yaml
colorama; sys_platform == 'win32'
bottle
bottle-websocket
pywebview; sys_platform != 'win32' or python_version < '3.9'
textdistance
